<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
    
       <header>  
                <div class="float-left">
                  <a href="Index.cshtml">  <img src="~/Images/Logo.png" alt="Logo" /></a>
                    <!--<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>-->      
                </div> <!-- end float-left div -->
              
            
             
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section> 
              
                    <h2>Empowering the future by connecting the present.</h2>
                </div> <!-- end float-right div -->
         </header>    
       
           <nav>
                    <ul id="menu" class="float-left">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("How it works", "HowItWorks", "Home")</li>
                            <li>@Html.ActionLink("Join Charity", "RegisterC", "CharityRegister")</li>
                            <li>@Html.ActionLink("Join Volunteer", "RegisterVolunteer", "Volunteer")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                           
                        </ul>

            <ul id="social-media" class="float-right">
                   <li><a href="https://plus.google.com/u/0/communities/116974375058423275957"><img src="~/Images/Google Icon.png" alt="Google Icon" /></a></li>
                   <li><a href="https://www.facebook.com/pages/Project-Give-IT/527249827316997"><img src="~/Images/Facebook Icon.png" alt="Facebook Icon" /></a></li>
                   <li><a href="#"><img src="~/Images/Twitter.png" alt="Twitter Icon" /></a></li>

            </ul>
         </nav>         
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
           
                    
                    <a>Charity Legal Agreement</a>
                <a>Volunteer Legal Agreement</a>
            <a>Contact Us</a>
            <a>Privacy Policy</a>
            <a>FAQ</a>
            <p>Project Give I.T. &copy; @DateTime.Now.Year</p>

      
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
